<!-- Formulário de Filtro -->
<div style="display: flex">
  <div>
    <label for="tipoFiltro">Tipo:</label>
    <input type="text" [(ngModel)]="tipoFiltro" id="tipoFiltro" placeholder="Filtrar por tipo">
  </div>

  <div>
    <label for="valorFiltro">Valor:</label>
    <input type="number" [(ngModel)]="valorFiltro" id="valorFiltro" placeholder="Filtrar por valor">
  </div>



  <div style="display: flex;margin: 0">
    <div>
      <label for="dataInicioFiltro">Data Início:</label>
      <input type="date" [(ngModel)]="dataInicioFiltro" id="dataInicioFiltro">
    </div>

    <div>
      <label for="dataFimFiltro">Data Fim:</label>
      <input type="date" [(ngModel)]="dataFimFiltro" id="dataFimFiltro">
    </div>
  </div>
</div>

<!-- Tabela -->
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Tipo</th>
    <th>Categoria</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getFilteredItems()">
    <td>{{ item.id }}</td>
    <td>{{ item.tipo }}</td>
    <td>{{ item.categoria }}</td>
    <td>{{ item.valor | currency }}</td>
    <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
    <td>
      <button (click)="openEditModal(item)" style="margin-right: 4px">Editar</button>
      <button (click)="deleteItem(item.id)" style="background-color: red">Deletar</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal para edição -->
<div *ngIf="isEditModalOpen" class="modal" (click)="closeEditModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeEditModal()">✖</button>
    <h3>Editar Item</h3>
    <form (ngSubmit)="saveEdit()">
      <div>
        <label>
          <input type="checkbox" [checked]="selected === 'opcao1'" (change)="toggleSelection('opcao1')">
          Opção 1
        </label>
        <label>
          <input type="checkbox" [checked]="selected === 'opcao2'" (change)="toggleSelection('opcao2')">
          Opção 2
        </label>
      </div>

      <div>
        <p>Selecionado: {{ selected }}</p>
      </div>

      <label for="tipo">Tipo</label>
      <input [(ngModel)]="selectedItemTipo" name="tipo" id="tipo" type="tipo" required />

      <label for="categoria">Categoria</label>
      <input [(ngModel)]="selectedItemCategoria" name="categoria" id="categoria" type="categoria" required />

      <label for="valor">Valor</label>
      <input [(ngModel)]="selectedItemValor" name="valor" id="valor" type="number" required />

      <label for="data">Data</label>
      <input [(ngModel)]="selectedItemData" name="data" id="data" type="datetime-local" required />

      <label for="descricao">Descrição</label>
      <textarea [(ngModel)]="selectedItemDescricao" name="descricao" id="descricao" class="textarea-expandido" rows="4" required></textarea>

      <div>
        <button type="submit">Salvar</button>
        <button type="button" (click)="closeEditModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
