<!-- Formulário de Filtro -->
<div style="display: flex; flex-wrap: wrap; gap: 10px;">
  <div style="flex: 1 1 200px;">
    <label for="tipoFiltro">Tipo:</label>
    <input type="text" [(ngModel)]="tipoFiltro" id="tipoFiltro" placeholder="Filtrar por tipo">
  </div>

  <div style="flex: 1 1 200px;">
    <label for="valorFiltro">Valor:</label>
    <input type="number" [(ngModel)]="valorFiltro" id="valorFiltro" placeholder="Filtrar por valor">
  </div>

  <div style="display: flex; flex: 1 1 100%; gap: 10px;">
    <div style="flex: 1;">
      <label for="dataInicioFiltro">Data Início:</label>
      <input type="date" [(ngModel)]="dataInicioFiltro" id="dataInicioFiltro">
    </div>
    <div style="flex: 1;">
      <label for="dataFimFiltro">Data Fim:</label>
      <input type="date" [(ngModel)]="dataFimFiltro" id="dataFimFiltro">
    </div>
  </div>

  <div style="flex: 1 1 100%; display: flex; justify-content: center;">
    <app-report-component [data]="databack" style="max-height: 200px; width: 100%;"></app-report-component>
  </div>
</div>

<button type="button" (click)="openCreateModal()">Criar Transação</button>


<!-- Tabela -->
<table >
  <thead>
  <tr>
    <th>ID</th>
    <th>Tipo</th>
    <th>Categoria</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody *ngIf="getFilteredItems()">
  <tr  *ngFor="let item of getFilteredItems(); trackBy: trackById">
    <td>{{ item.id }}</td>
    <td>{{ item.tipo }}</td>
    <td>{{ item.descricao }}</td>
    <td>{{ item.valor | currency }}</td>
    <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
    <td>
      <button (click)="openEditModal(item)" style="margin-right: 4px">Editar</button>
      <button (click)="deleteItem(item.id)" style="background-color: red">Deletar</button>
    </td>
  </tr>
  </tbody>
</table>




<div *ngIf="isEditModalOpen" class="modal" (click)="closeEditModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeEditModal()">✖</button>
    <h3>{{ isEditMode ? 'Editar Transação' : 'Criar Transação' }}</h3>
    <form (ngSubmit)="isEditMode ? saveEdit() : createTransaction()">
      <div>
        <label>
          <input type="checkbox" [checked]="selected === '1'" (change)="toggleSelection('1')">
          1 Despesas
        </label>
        <label>
          <input type="checkbox" [checked]="selected === '2'" (change)="toggleSelection('2')">
          2 Receita
        </label>
      </div>

      <div>
        <p>Selecionado: {{ selected }}</p>
      </div>

<!--      <label for="tipo">Tipo</label>-->
<!--      <input [(ngModel)]="selectedItemTipo" name="tipo" id="tipo" type="tipo" required />-->

<!--      <label for="categoria">Categoria</label>-->
<!--      <input [(ngModel)]="selectedItemCategoria" name="categoria" id="categoria" type="categoria" required />-->



    <div style="display: flex">
      <div>

        <label for="categoria">Categoria</label>
        <select [(ngModel)]="selectedItemCategoria" name="categoria" id="categoria"  required style="min-width: 100px;">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.categoria }}  <!-- Nome da categoria -->
          </option>
        </select>
      </div>



      <div>
        <div>
          <p>Categoria Selecionada:</p>
        </div>
        <div>
          {{infoEdit.categoria ?  infoEdit.categoria: ''}}
        </div>
      </div>
    </div>





      <label for="valor">Valor</label>
      <input [(ngModel)]="selectedItemValor" name="valor" id="valor" type="number" required />

      <label for="data">Data</label>
      <input [(ngModel)]="selectedItemData" name="data" id="data" type="datetime-local" required />

      <label for="descricao">Descrição</label>
      <textarea [(ngModel)]="selectedItemDescricao" name="descricao" id="descricao" class="textarea-expandido" rows="4" required></textarea>

      <div>
        <button type="submit" (click)="buttonCreateEdit()">{{ isEditMode ? 'Salvar' : 'Criar' }}</button>
        <button type="button" (click)="closeEditModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
